body {
  background-image: url('BG.jpg');
}

h3 {
  color: white;
  text-align: center;
  font-size: 25rem;
  font-family: 'Josefin Slab', serif;
  border-style: dashed;
  margin-top: auto;
}

div {
  background-color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 240px;
}

.gamepad{
  margin-top: 5px;
  left: 10%;
  position: absolute;
}

div p{
  color: yellow;
  font-size: 4rem;
  text-align: center;
  border: 1px solid yellow;

}
